name: CI

on:
  pull_request:
  push:
    branches: [master]

defaults:
  run:
    shell: bash

jobs:
  cabal:
    name: ${{ matrix.os }} / ghc ${{ matrix.ghc }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - { cabal: "3.10", os: ubuntu-latest,  ghc: "8.10.7" }
          - { cabal: "3.10", os: ubuntu-latest,  ghc: "9.0.2"  }
          - { cabal: "3.10", os: ubuntu-latest,  ghc: "9.2.8"  }
          - { cabal: "3.10", os: ubuntu-latest,  ghc: "9.4.8"  }
          - { cabal: "3.10", os: ubuntu-latest,  ghc: "9.6.7"  }
          - { cabal: "3.10", os: ubuntu-latest,  ghc: "9.8.4"  }
          - { cabal: "3.12", os: ubuntu-latest,  ghc: "9.10.3" }
          - { cabal: "3.14", os: ubuntu-latest,  ghc: "9.12.2" }
      fail-fast: false

    steps:
    - uses: actions/checkout@v6
      if: github.event.action == 'opened' || github.event.action == 'synchronize' || github.event.ref == 'refs/heads/master'
    - uses: haskell-actions/setup@v2
      id: setup-haskell-cabal
      name: Setup Haskell
      with:
        ghc-version: ${{ matrix.ghc }}
        cabal-version: ${{ matrix.cabal }}
    - uses: actions/cache@v5
      name: Cache ~/.cabal/store
      with:
        path: ${{ steps.setup-haskell-cabal.outputs.cabal-store }}
        key: ${{ runner.os }}-${{ matrix.ghc }}--${{ matrix.cabal }}-cache-${{ github.sha }}
        restore-keys: ${{ runner.os }}-${{ matrix.ghc }}--${{ matrix.cabal }}-cache-
    - name: Versions
      run: |
        cabal -V
        ghc -V
    - name: Build
      run: |
        cabal configure --haddock-all --enable-tests --enable-benchmarks --benchmark-option=-l
        cabal build all --write-ghc-environment-files=always
    - name: Test
      run: |
        cabal test all
